 #canvas1 {
     border: 3px solid black;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     height: 120vw;
     width: 70vw;
     max-height: 800px;
     max-width: 515px;
 }
