 #canvas1 {
     border: 3px solid black;
     position: relative;
     height: 120vw;
     width: 70vw;
     max-height: 740px;
     max-width: 515px;
     margin: 0 auto;
 }

 .container {
     display: flex;
     flex-direction: column;
     gap: 1rem;
 }

 .enemy-type {
     padding: 1rem;
     width: 10rem;
     margin: 0 auto;
     border-radius: 5px;
 }
